<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <a href="https://www.w3schools.com/bootstrap/default.asp">BootStrap Tutorial link Outside of container</a>
        </div>
        <div class="row" >
                <div class="container">
                        <a href="https://www.w3schools.com/bootstrap/default.asp">BootStrap Tutorial link inside of container</a>
                </div>
            
        </div>
        <!-- https://github.com/angular/angular-cli   -->

        <div class="row" >
                <div class="container">
                        <a href="https://github.com/angular/angular-cli ">Generating Components - Angular CLI</a>
                </div>
            
        </div>
    <div class="row"  >
        <div class="container">
        <h1>My First Bootstrap Page</h1>
        <p>This is some text.</p> 
        <p>This is how to create a test.</p> 
        <p>ng g component my-new-component</p>
        <p>cd products</p>
        <p>ng g component ../my-new-component</p>

    </div>


<div class="container">

        <p>Envelope icon as a link:
                <a href="https://www.w3schools.com/bootstrap/default.asp"><span class="glyphicon glyphicon-envelope"></span></a>
        </p>
        
        </div> 

        </div>
    </div>
</div>